<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>piggy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00DA1A2A1DF1E49F00969357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00DA1A3E1DF1E49F00969357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00DA1A491DF1E49F00969357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
